<% provide(:title, "About") %>

<h1>Cucumber Reporting Application</h1>
<h2>Why did we do this?</h2>
<p>
  Fundamentally, cucumber reporting tools lack the ability to effectively manage large scale test suite results.
  The burden imposed on static html, text reports is too great for test suites over 100 or so tests.  Additionally,
  a focus on business value required information that transcends basic pass/fail numbers.  Therefore, we created this
  tool to make our lives easier.  Donavan and I have been working on this tool for over a year in our own time.  This
  is a culmination of that effort and work.  We hope you find that it makes it possible to provide information to management
  as easy as it is to research failures.
</p>