<div class="row border-top white-bg">
  <nav class="navbar navbar-fixed-bottom white-bg" role="navigation">
    <div class="pull-right">
      <ul class="nav navbar-nav">
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "License", license_path %></li>
        <%= image_tag "centric.jpg", class: "navbar", height: '32' %>
      </ul>
    </div>
    <div class="pull-left">
      <ul class="nav navbar-nav">
        <li>Created by Joseph Ours and Donavan Stanley&nbsp;&nbsp;&nbsp</li><br>
        <li>Copyright <i class="fa fa-copyright"></i> 2015 Joseph Ours &nbsp; All rights reserved.</li>
      </ul>
    </div>
  </nav>
</div>